html {
  font-size: 14px;
}
.create_group {
  padding-top: 1rem;
  background-color: white;
  height: 100vh;
}
.title_div,
.category_div,
.time_div,
.place_div,
.max_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  margin-bottom: 0.6rem;
}
.title_span,
.category_span,
.time_span,
.place_span,
.max_span {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}
.title,
.category,
.time,
.place,
.max {
  width: 70vw;
  height: 2.5rem;
  border-radius: 0.2rem;
  border-width: 0.07rem;
  border-color: gray;
}
